<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- 自动扫描 -->
	<context:component-scan base-package="com.ssm.webapp" >
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/><!-- 指定不需要扫描的注解类型 -->
	</context:component-scan>
	<!-- 引入配置文件 -->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
			</list>
		</property>
	</bean>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${driver}" />
		<property name="url" value="${url}" />
		<property name="username" value="${username}" />
		<property name="password" value="${password}" />
		<!-- 定义初始连接数 -->
		<property name="initialSize" value="${initialSize}"></property>
		<!-- 定义最大连接数 -->
		<property name="maxActive" value="${maxActive}"></property>
		<!-- 定义最大空闲 -->
		<property name="maxIdle" value="${maxIdle}"></property>
		<!-- 定义最小空闲 -->
		<property name="minIdle" value="${minIdle}"></property>
		<!-- 定义最长等待时间 -->
		<property name="maxWait" value="${maxWait}"></property>
	</bean>

	<!-- spring和MyBatis完美整合，不需要mybatis的配置映射文件 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- 实体类包 -->
		<property name="typeAliasesPackage" value="com.ssm.webapp.entity"/>
		<!-- 自动扫描mapping.xml文件 -->
		<property name="mapperLocations" value="classpath:com/ssm/webapp/mapping/*.xml"></property>
	</bean>

	<!-- DAO接口所在包名，Spring会自动查找其下的类 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.ssm.webapp.dao" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	</bean>

	<!-- (事务管理)transaction manager, use JtaTransactionManager for global tx -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>
	<!-- 导入rediscluster配置文件 -->
	
	<!-- 方式一： jedisCluster操作redis集群-->
	<import resource="classpath:spring-jedisCluster.xml" />
	
	<!-- 方式二：redisTemplate操作redis集群 -->
	<import resource="classpath:spring-redisCluster.xml" />
	
	<!-- 导入缓存配置文件 -->
	<import resource="classpath:spring-cache.xml" />
	
</beans>
